<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./_partials/header') %>

    <!-- Echarts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.2/echarts.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('./_partials/sidebar'); %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                        <h1 class="h3 mb-0 text-gray-800">Echarts</h1>
                    </div>
                    <div class="mb-3">Echarts là một thư viện JavaScript siêu đa dạng để vẽ rất nhiều dạng biểu đồ tương tác cao hiển thị trên nền tảng Web.
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Cột</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/bar-inventory-shop'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Chồng</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/normal-stack'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Heat Map</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/heatmap-cartesian'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Radar</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/radar'); -%>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">                            
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Chồng Gradient</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/gradient-stack'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Đường</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/line-marker'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Nến</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/candlestick'); -%>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Phễu</h6>
                                </div>
                                <div class="card-body">
                                    <%- include('Echarts/funnel'); -%>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <%- include('./_partials/footer') %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <%- include('_partials/scripts')%>
</body>

</html>